{%
set classes = [
'node',
'node--type-' ~ node.bundle|clean_class,
node.isPromoted() ? 'node--promoted',
node.isSticky() ? 'node--sticky',
not node.isPublished() ? 'node--unpublished',
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>

    {{ title_prefix }}
    {% if not page %}
        <h2{{ title_attributes }}>
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
    {% endif %}
    {{ title_suffix }}

    <a href="/tunes/list"><h4>List of tunes</h4></a>

    <div{{ content_attributes.addClass('node__content', 'clearfix') }}>

        <div class="tune-cover">
            {{ content.field_cover_image }}
        </div>

        <div class="tune-details">
            {{ content|without('field_cover_image') }}
        </div>

        {% if display_submitted %}
            <footer class="node__meta">
                {{ author_picture }}
                <div{{ author_attributes.addClass('node__submitted') }}>
                    {% trans %}By {{ author_name }} | {{ date }}{% endtrans %}
                    {{ metadata }}
                </div>
            </footer>
        {% endif %}

    </div>

</article>
